@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap');

html, body {
	margin: 0;
	padding: 0;
	
}
.cont {
	margin: 0 auto;
	width: 1060px;
}
header {
	padding: 70px 0;
}
nav {
	font-family: 'Playfair Display';
	font-size: 14px;
	float: right;
	display: inline-block;
	word-spacing: 100px;
}
h1 {
	font-family: 'Playfair Display';
	font-size: 30px;
}
p {
	font-family: 'Playfair Display';
	font-size: 14px;
}
.logo{
	display: inline-block;
	top: 70px;
	left: 70px;
}
#subtext{
	font-family: 'Ubuntu';
	font-weight: lighter;
	color: gray;
}
.image {
	width: 100%;
	height: auto;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-Black.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('assets/fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('assets/fonts/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

